/*
 * example.css
 * Copyright (C) 2014 Rafal Gumienny
 *
 * Distributed under terms of the GPL license.
 */

<link href='http://fonts.googleapis.com/css?family=Alegreya+Sans:100,300,400,500,700,800,900,100italic,300italic,400italic,500italic,700italic,800italic,900italic' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Arvo:400,700,400italic' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=PT+Mono' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Philosopher:400,700,400italic,700italic' rel='stylesheet' type='text/css'>

<style>

@font-face {
	font-family: "Computer Modern";
	src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunss.otf');
}

div.cell {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

#notebook li {
margin-top:0.6em;
}


/* [> draw border around running cells <] */
div.cell.border-box-sizing.code_cell.running { 
	border: 3px solid #111;
	border-color: #B22222;
	border-radius: 5px;
}

div.text_cell_render{
    font-family: Computer Modern, "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    line-height: 145%;
    font-size: 130%;
    /* margin-left:10px; */
    /* margin-right:10px; */
}

/* Formatting for header cells */
.text_cell_render h1 {
	font-family: 'Serif', sans-serif;
	font-weight: 400;
	font-size: 30pt;
	line-height: 100%;
	/* color: rgb(12,85,97); */
	color: #b22222;
	margin-bottom: 0.1em;
	margin-top: 0.1em;
	display: block;
}	
.text_cell_render h2 {
	font-family: 'Serif', serif;
	font-weight: 700;
	font-size: 20pt;
	line-height: 100%;
	color: #00008B;
	/* color: rgb(12,85,97); */
	/* color: rgb(171,165,131); */
	margin-bottom: 0.1em;
	margin-top: 0.3em;
	display: block;
}	

.text_cell_render h3 {
	font-family: 'Serif', serif;
	margin-bottom: 0.1em;
	margin-top: 0.3em;
	/* margin-top:12px; */
	/* margin-bottom: 1px; */
	font-size: 15pt;
	font-style: italic;
	color: #004b00;
	/* color: rgb(95,92,72); */
}

.text_cell_render h4 {
	font-family: serif;
	margin-bottom: 0.1em;
	margin-top: 0.3em;
	/* margin-top:12px; */
	/* margin-bottom: 1px; */
}

.text_cell_render h5 {
	font-family: sans-serif;
	font-weight: 300;
	font-size: 13pt;
	color: grey;
	font-style: italic;
	margin-bottom: .1em;
	margin-top: 0.3em;
	display: block;
}

.text_cell_render h6 {
	font-family: sans-serif;
	font-weight: 300;
	font-size: 10pt;
	color: grey;
	margin-bottom: 1px;
	margin-top: 1px;
}

.CodeMirror{
        font-family: 'DejaVu Sans Mono';
        font-size: 100%;
}

table
{
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    margin: 45px;
    text-align: center;
    border-collapse: collapse;
}
table th
{
    font-size: 15px;
    font-weight: normal;
    padding: 8px;
    background: #DCDCDC;
    border-top: 4px solid #aabcfe;
    border-bottom: 1px solid #fff;
    color: #000000;
	text-align: center;
}
table td
{
    padding: 8px;
    background: #FFFACD;
    border-bottom: 1px solid #fff;
    color: #000000;
    border-top: 1px solid transparent;
}
table tr:hover td
{
    background: #d0dafd;
    color: #000000;
}

.tags {
	list-style-type: none;
}

.tags li {
	 display: inline;
	 margin: 3px;
}

.pagination {
	list-style-type: none;
}

.pagination li {
	 display: inline;
	 margin: 3px;
}

</style>

