{% extends "base.html" %}
{% load i18n future mezzanine_tags blog_tags keyword_tags disqus_tags %}
{% load staticfiles %}
{% block extra_head %}
<link rel="stylesheet" href="{% static "nbviewer/ipython.min.css" %}">
<link rel="stylesheet" href="{% static "nbviewer/css/pygments.css" %}">
<link rel="stylesheet" href="{% static "nbviewer/custom.css" %}">
{% endblock %}
{% block meta_title %}{% if page %}{{ page.meta_title }}{% else %}{% trans "Notebooks" %}{% endif %}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for page as keywords %}
{% for keyword in keywords %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ page.description }}
{% endmetablock %}{% endblock %}

{% block title %}
{% if page %}
{% editable page.title %}{{ page.title }}{% endeditable %}
{% else %}
{% trans "Notebook" %}
{% endif %}
{% endblock %}

{% block breadcrumb_menu %}
{{ block.super }}
{% if tag or project or year or month or author %}
<li>{% spaceless %}
{% if tag %}
    {% trans "Tag:" %} {{ tag }}
{% else %}{% if project %}
    {% trans "project:" %} {{ project }}
{% else %}{% if year or month %}
    {% if month %}{{ month }}, {% endif %}{{ year }}
{% else %}{% if author %}
    {% trans "Author:" %} {{ author.get_full_name|default:author.username }}
{% endif %}{% endif %}{% endif %}{% endif %}
{% endspaceless %}
</li>
{% endif %}
{% endblock %}

{% block main %}

{% if tag or project or year or month or author %}
    {% block notebook_list_filterinfo %}
    <p>
    {% if tag %}
        {% trans "Viewing posts tagged" %} {{ tag }}
    {% else %}{% if project %}
        {% trans "Viewing posts for the project" %} {{ project }}
    {% else %}{% if year or month %}
        {% trans "Viewing posts from" %} {% if month %}{{ month }}, {% endif %}
        {{ year }}
    {% else %}{% if author %}
        {% trans "Viewing posts by" %}
        {{ author.get_full_name|default:author.username }}
    {% endif %}{% endif %}{% endif %}{% endif %}
    {% endblock %}
    </p>
{% else %}
    {% if page %}
    {% block notebook_list_pagecontent %}
    {% if page.get_content_model.content %}
        {% editable page.get_content_model.content %}
        {{ page.get_content_model.content|richtext_filters|safe }}
        {% endeditable %}
    {% endif %}
    {% endblock %}
    {% endif %}
{% endif %}

{% for notebook in notebooks.object_list %}
{% block notebook_list_post_title %}
{% editable notebook.title %}
<h2>
    <a href="{{ notebook.get_absolute_url }}">{{ notebook.title }}</a>
</h2>
{% endeditable %}
{% endblock %}
{% block notebook_list_post_metainfo %}
{% editable notebook.publish_date %}
<h6 class="post-meta">
    {% trans "Posted by" %}:
    {% with notebook.user as author %}
    <a href="{% url "notebook_list_author" author %}">{{ author.get_full_name|default:author.username }}</a>
    {% endwith %}
    {% with notebook.projects.all as projects %}
    {% if projects %}
    {% trans "in" %}
    {% for project in projects %}
    <a href="{% url "notebook_list_project" project.slug %}">{{ project }}</a>{% if not forloop.last %}, {% endif %}
    {% endfor %}
    {% endif %}
    {% endwith %}
    {% blocktrans with sometime=notebook.publish_date|timesince %}{{ sometime }} ago{% endblocktrans %}
	{% trans ", last update" %}:
    {% blocktrans with sometime=notebook.date_modified|timesince %}{{ sometime }} ago{% endblocktrans %}
</h6>
{% endeditable %}
{% endblock %}

{% block notebook_list_post_content %}
{{ notebook.description_from_content|safe }}
{% endblock %}

{% block notebook_list_post_links %}
<div class="blog-list-detail">
    {% keywords_for notebook as tags %}
    {% if tags %}
    <ul class="list-inline tags">
    {% trans "Tags" %}:
    {% spaceless %}
    {% for tag in tags %}
    <li><a href="{% url "notebook_list_tag" tag.slug %}" class="tag">{{ tag }}</a>,</li>
    {% endfor %}
    {% endspaceless %}
    </ul>
    {% endif %}
    <p>
    <a href="{{ notebook.get_absolute_url }}">{% trans "read more" %}</a>
    {% if notebook.allow_comments %}
    /
    {% if settings.COMMENTS_DISQUS_SHORTNAME %}
    <a href="{{ notebook.get_absolute_url }}#disqus_thread"
        data-disqus-identifier="{% disqus_id_for notebook %}">
        {% trans "Comments" %}
    </a>
    {% else %}
    <a href="{{ notebook.get_absolute_url }}#comments">
        {% blocktrans count comments_count=notebook.comments_count %}{{ comments_count }} comment{% plural %}{{ comments_count }} comments{% endblocktrans %}
    </a>
    {% endif %}
    {% endif %}
    </p>
</div>
{% endblock %}
{% endfor %}

{% pagination_for notebooks %}

{% if settings.COMMENTS_DISQUS_SHORTNAME %}
{% include "generic/includes/disqus_counts.html" %}
{% endif %}

{% endblock %}

{% block right_panel %}
{% include "includes/filter_panel.html" %}
{% endblock %}
