{% extends "notebook_list.html" %}
{% load mezzanine_tags comment_tags keyword_tags i18n future disqus_tags %}

{% block meta_title %}{{ notebook.meta_title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for notebook as tags %}
{% for tag in tags %}{% if not forloop.first %}, {% endif %}{{ tag }}{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ notebook.description }}
{% endmetablock %}{% endblock %}

{% block title %}
{% editable notebook.title %}{{ notebook.title }}{% endeditable %}
{% endblock %}

{% block breadcrumb_menu %}
{{ block.super }}
<li class="active">{{ notebook.title }}</li>
{% endblock %}

{% block main %}

{% block notebook_detail_postedby %}
{% editable notebook.publish_date %}
<h6 class="post-meta">
    {% trans "Posted by" %}:
    {% with notebook.user as author %}
    <a href="{% url "notebook_list_author" author %}">{{ author.get_full_name|default:author.username }}</a>
    {% endwith %}
    {% blocktrans with sometime=notebook.publish_date|timesince %}{{ sometime }} ago{% endblocktrans %}
	{% trans ", last update" %}:
    {% blocktrans with sometime=notebook.date_modified|timesince %}{{ sometime }} ago{% endblocktrans %}
</h6>
{% endeditable %}
{% endblock %}
{% block notebook_detail_commentlink %}
<p>
    {% if notebook.allow_comments %}
        {% if settings.COMMENTS_DISQUS_SHORTNAME %}
            (<a href="{{ notebook.get_absolute_url }}#disqus_thread"
                data-disqus-identifier="{% disqus_id_for notebook %}">{% spaceless %}
                {% trans "Comments" %}
            {% endspaceless %}</a>)
        {% else %}(<a href="#comments">{% spaceless %}
            {% blocktrans count comments_count=notebook.comments_count %}{{ comments_count }} comment{% plural %}{{ comments_count }} comments{% endblocktrans %}
            {% endspaceless %}</a>)
        {% endif %}
    {% endif %}
</p>
{% endblock %}

{% if settings.COMMENTS_DISQUS_SHORTNAME %}
{% include "generic/includes/disqus_counts.html" %}
{% endif %}

{% block notebook_detail_content %}
{% editable notebook.content %}
{{ notebook.content|richtext_filters|safe }}
{% endeditable %}
{% endblock %}

{% block notebook_detail_keywords %}
{% keywords_for notebook as tags %}
{% if tags %}
{% spaceless %}
<ul class="list-inline tags">
    <li>{% trans "Tags" %}:</li>
    {% for tag in tags %}
    <li><a href="{% url "notebook_list_tag" tag.slug %}">{{ tag }}</a>,</li>
    {% endfor %}
</ul>
{% endspaceless %}
{% endif %}
{% endblock %}

{% block notebook_detail_sharebuttons %}
{% set_short_url_for notebook %}
<a class="btn btn-sm share-twitter" target="_blank" href="http://twitter.com/home?status={{ notebook.short_url|urlencode }}%20{{ notebook.title|urlencode }}">{% trans "Share on Twitter" %}</a>
<a class="btn btn-sm share-facebook" target="_blank" href="http://facebook.com/sharer.php?u={{ request.build_absolute_uri }}&amp;t={{ notebook.title|urlencode }}">{% trans "Share on Facebook" %}</a>
{% endblock %}

{% block notebook_previous_next %}
<ul class="pager">
{% with notebook.get_previous_by_publish_date as previous %}
{% if previous %}
<li class="previous">
    <a href="{{ previous.get_absolute_url }}">&larr; {{ previous }}</a>
</li>
{% endif %}
{% endwith %}
{% with notebook.get_next_by_publish_date as next %}
{% if next %}
<li class="next">
    <a href="{{ next.get_absolute_url }}">{{ next }} &rarr;</a>
</li>
{% endif %}
{% endwith %}
</ul>
{% endblock %}

{% block notebook_detail_related_posts %}
{% if notebook.related_posts.all %}
<div id="related-posts">
<h3>{% trans 'Related posts' %}</h3>
<ul class="list-unstyled">
{% for post in notebook.related_posts.all %}
     <li><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></li>
{% endfor %}
</ul>
</div>
{% endif %}
{% endblock %}

{% block notebook_detail_comments %}
{% if notebook.allow_comments %}{% comments_for notebook %}{% endif %}
{% endblock %}

{% endblock %}
