{% load keyword_tags mezzanine_tags i18n future notebook_tags %}

{% search_form "nbviewer.Notebook" %}
{% block notebook_recent_posts %}
{% notebook_recently_added_posts 5 as recent_posts %}
{% if recent_posts %}
<h3>{% trans "Recently Added Posts" %}</h3>
<ul class="list-unstyled recent-posts">
{% for recent_post in recent_posts %}
<li>
    {% spaceless %}
    <a href="{{ recent_post.get_absolute_url }}">
    {{ recent_post.title }}
    </a>
    {% endspaceless %}
</li>
{% endfor %}
</ul>
{% endif %}
{% endblock %}

{% block notebook_months %}
{% notebook_months as months %}
{% if months %}
<h3>{% trans "Archive" %}</h3>
{% for month in months %}
    {% ifchanged month.date.year %}
        {% if not forloop.first %}</ul>{% endif %}
        <h6>{{ month.date.year }}</h6><ul class="list-unstyled">
    {% endifchanged %}
    <li><a href="{% url "notebook_list_month" year=month.date.year month=month.date.month %}"
        >{{ month.date|date:"F" }}</a> ({{ month.post_count }})</li>
{% endfor %}
</ul>
{% endif %}
{% endblock %}

{% block notebook_projects %}
{% notebook_projects as projects %}
{% if projects %}
<h3>{% trans "Projects" %}</h3>
<ul class="list-unstyled">
{% for project in projects %}
<li><a href="{% url "notebook_list_project" project.slug %}"
    >{{ project }}</a> ({{ project.post_count }})</li>
{% endfor %}
</ul>
{% endif %}
{% endblock %}

{% block blog_keywords %}
{% keywords_for blog.blogpost as tags %}
{% if tags %}
<h3>{% trans "Tags" %}</h3>
<ul class="list-inline tag-cloud">
{% for tag in tags %}
<li>
    <a href="{% url "notebook_list_tag" tag.slug %}"
        class="tag-weight-{{ tag.weight }}">{{ tag }}</a>
    ({{ tag.item_count }})
</li>
{% endfor %}
</ul>
{% endif %}
{% endblock %}

{% block notebook_authors %}
{% notebook_authors as authors %}
{% if authors %}
<h3>{% trans "Authors" %}</h3>
<ul class="list-unstyled">
{% for author in authors %}
    <li><a href="{% url "notebook_list_author" author.username %}"
        >{{ author.get_full_name|default:author.username }}</a>
        ({{ author.post_count }})</li>
{% endfor %}
</ul>
{% endif %}
{% endblock %}

